CLEARML_WEB_HOST=https://app.clear.ml/
CLEARML_API_HOST=https://api.clear.ml
CLEARML_FILES_HOST=https://files.clear.ml
CLEARML_API_ACCESS_KEY=ваш_ключ_доступа
CLEARML_API_SECRET_KEY=ваш_секретный_ключ
